@{
    ViewData["Title"] = "Problems Database";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Log out" />
    </form>
}
else
{
    <p>
        <div class="btn btn-danger" onclick="location.href='@Url.Action("Login", "Account")'">
            Sign in
        </div>
    </p>
    <p>
        <div class="btn btn-danger" onclick="location.href='@Url.Action("Register", "Account")'">
            Sign up
        </div>
    </p>
}
