@{
    ViewData["Title"] = "Problems Database";
}
@model IEnumerable<BDProblems.Models.User>

@if (User.Identity.IsAuthenticated)
{
    <p></p><p></p><p></p><p></p><p></p>
    <p align="center">
        <font color="Grey" size="360"></font>Welcome,
        @User.Identity.Name!
    </p>

    <p>
        <form method="post" align="center" asp-controller="Account" asp-action="Logout">
            <input type="submit" class="btn btn-secondary" value="Log out" />
        </form>
    </p>

}
else
{
<p>
    <div class="btn btn-danger" align="center" onclick="location.href='@Url.Action("Login", "Account")'">
        Sign in
    </div>
</p>
    <p>
        <div class="btn btn-danger" align="center" onclick="location.href='@Url.Action("Register", "Account")'">
            Sign up
        </div>
    </p>
}

